@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes govSpin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@layer base {
  body {
    font-family: 'Rawline', sans-serif;
  }
}